<div
  class="bg-white rounded-xl  shadow-md  relative flex flex-column align-items-center"
>
  <div
    class="rounded-t-xl h-28 flex justify-content-center   bg-no-repeat bg-cover bg-center w-full"
    style="
      position: relative;
      overflow: hidden;
      width: 100%;
      aspect-ratio: 2 / 1;
    "
  >
    <div
      data-testid="layer-0"
      *ngIf="profile.coverPicture!== undefined"
      style="
        background-position: center center;
        background-size: cover;
        background-color: beige;
        position: absolute;
        inset: -100px 0px;
        will-change: transform;
        transform: translateY(32.7669px);
      " [ngStyle]="{'background-image': 'url(' + profile.coverPicture?.original.url + ')'}"
     
    > </div>
    <div
    data-testid="layer-0"
    *ngIf="profile.coverPicture == undefined"
    style="
      background-position: center center;
      background-size: cover;
      background-color: beige;
      position: absolute;
      inset: -100px 0px;
      will-change: transform;
      transform: translateY(32.7669px);
    " 
   
  > </div>
  </div>
  <img height="200" width="200" *ngIf="profile.picture != undefined"
  style="top: 5rem;"
    class="object-cover border-4 border-cream rounded-full  absolute top-10 sm:top-20 z-10"
    alt="profile_picture"
    src="{{profile.picture.original.url}}"
  />
  <div
    class="bg-lightBg border-4 border-cream rounded-full w-36 h-36 md:w-52 md:h-52 absolute top-10 sm:top-20"
  ></div>

  <div  class="bg-white rounded-t-xl w-full h-4 absolute top-24 sm:top-44"></div>
  <div   style="    margin-bottom: 30px;margin-top: 4rem;color:var(--gray-700)" class="flex flex-column align-items-center text-center">
    <a style="    font-size: 2.25rem;
    line-height: 2.5rem;" class="font-header text-400"  target="_blank" href="https://www.lenster.xyz/u/{{profile.handle}}"
      >{{profile.name}}</a
    ><a class="font-header sm:text-2xl" href="https://www.lenster.xyz/u/{{profile.handle}}">@{{profile.handle}}</a>
    <div class="flex items-center gap-4 mx-auto mt-2 px-3 py-1 rounded-lg">
      <span class="font-header text-black flex gap-1"
        ><p class="font-header text-black font-semibold">{{profile.stats.totalFollowers}}</p>
        followers</span
      ><span class="font-header text-black flex gap-1"
        ><p class="font-header text-black font-semibold">{{profile.stats.totalFollowing}}</p>
        following</span>
        <span class="font-header text-black flex gap-1"
        ><p class="font-header text-black font-semibold">{{profile.stats.totalPublications}}</p>
        publications</span>

    </div>
    <p
      class="font-header sm:text-lg mt-3 px-5 sm:px-12 text-center text-black/80 break-all"
    >
     {{profile.bio}}
    </p>

  </div>
</div>
