.credit_details {
    width: fit-content;
    border-color: green;
    background: grey;
    padding: 12px;
    border-radius: 5px;
    /* margin-top: 52px; */
    position: relative;
    top: 10px;
    margin: 20px 10px;
    line-height: 26px;
    min-width:50px;
}